jokoon/crosshair
{
	container Panel(dada)
	{
		left 0.5
		top 0.5
		// material jokoon/crosshair
		container Panel(dudu)
		{
			metrics_mode pixels
			// left -32
			// top -32
			// width 64
			// height 64
			
			left -16
			top -16
			width 32
			height 32
			
			// width 24
			// height 24
			// left -12
			// top -12
			
			// width 16
			// height 16
			// left -8
			// top -8
			material jokoon/crosshair
		}
		//caption crosshair
	}
}