jokoon/crosshair
{
	//zorder 20
	container Panel(dada)
	{
		left 0.49
		top 0.49
		width 0.02
		height 0.02
		material jokoon/crosshair
		//caption crosshair
	}
}

jokoon/sometext
{
	container TextArea(sometext)
	{
		font_name fontconfigname
		left 0.1
		top 0.1
		width 0.6
		height 0.6
	}
}