#FileSystem=C:/Ogre172/media/materials/textures
#FileSystem=C:/Ogre172/media/materials/textures/nvidia
#FileSystem=C:/Ogre172/media/models
#Zip=C:/Ogre172/media/packs/Sinbad.zip

#FileSystem=C:/Ogre172/media/models

FileSystem=./textures
FileSystem=./conf

FileSystem=C:\_export\dust1-1
FileSystem=C:\_export\dust1-2
FileSystem=C:\_export\dust1-3
FileSystem=C:\_export\dust2-1
FileSystem=C:\_export\dust2-2

FileSystem=./levels/patinous

FileSystem=./levels/mifflin
#FileSystem=./levels/deserthouse

#FileSystem=C:\_export