crosshair
{
	zorder 20
	element xhr(whatever)
	{
		material jokoon/crosshair
		left 0.25
		top 0
		width 0.5
		height 0.1
 	}
/*	container box(whatever)
	{
		left 0.25
		top 0
		width 0.5
		height 0.1
 	}*/
}